---
layout: default
---
{% if paginator.page == 1 %}
  <section id="intro">
    <div id="intro-content">
      <h1>Hi, I'm Will.</h1>
      <p>
        I'm a software team lead at <a href="www.elevenwinds.com">Eleven Winds</a> (an agency)
        where I get to write code, handle software design & architecture, mentor and train people, and more.
      </p>
      <p>
        I currently lead Product Development for <a href="http://www.utilismartcorp.com/">Utilismart</a>, 
        where we build tools for electric utility companies.
      </p>
    </div>
  </section>
{% endif %}
<section id="post-excerpts">
  {% for post in paginator.posts %}
    {% unless post.draft %}
      <article class="post-excerpt">
        <img class="post-cover-image" src="{{ post.cover_image }}" alt="{{ post.cover_alt_text }}">
        <div class="post-excerpt-content">
          {% if post.tags %}
            <small class="post-tags">{{ post.tags | join: ", " }} - {{ post.date | date: "%B %-d, %Y" }}</small>
          {% endif %}
          <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
          {{ post.excerpt }}
          <div class="read-more-button-container">
            <a href="{{ post.url }}" class="read-more-button">Read More</a>
          </div>
        </div>
      </article>
    {% endunless %}
  {% endfor %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">
        Previous
      </a>
    {% endif %}
    <span class="page_number ">
      Page {{ paginator.page }} of {{ paginator.total_pages }}
    </span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% endif %}
  </div>
</section>