---
---

@import "{{ site.theme }}";

h1, h2, h3, h4, h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;

    a:hover {
        font-weight: bold;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    color: #555;
    font-size: 16px;
    line-height: 1.6;

    strong {
        color: #555;
    }
}

a {
    color: #048c82;
}

a:hover {
    font-weight: normal;
    color: #4ac2bf;
}

section {
    padding-bottom: 0;
}

section#post-excerpts {
    padding-top: 25px;
}

section#intro {
    box-shadow: 0px 0px 1px 1px rgba(175,175,175,0.1);
    background-color: white;

    #intro-content {
        padding: 25px;
    }
}

section#post-excerpts {
    background-color: white;
}

article.post-excerpt {
    box-shadow: 0px 0px 1px 1px rgba(175,175,175,0.1);
    margin-bottom: 10px;
}

@media print, screen and (max-width: 960px) {
    section {
        border: none;
        margin: 0;
    }
} 