---
layout: default
---

<div id="post-container">
  <img class="post-cover-image" src="{{ page.cover_image }}" alt="{{ page.cover_alt_text }}">
  <div class="post-content">
    {% if page.tags %}
      <small id="tags">{{ page.tags | join: ", " }} - {{ page.date | date: "%B %-d, %Y" }}</small>
    {% endif %}
    <h1>{{ page.title }}</h1>
    {{content}}
    <hr />
    <p>
      Questions or comments? Find me on twitter <a href="https://twitter.com/willfroese">@willfroese</a>
    </p>
  </div>
</div>